.center {
    position: absolute;
    left: 51%;
    top: 30%;
    transform: translate(-50%, -50%); 
  }
  .modal {
  /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 30%;
  top: 20%;
  width: 40%; /* Full width */
  height: 70%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color:rgb(3, 2, 2); /* Black w/ opacity */
  border-radius: 40px;
  }
  .mail {
    position: absolute;
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%); 
  }
  .password {
    position: absolute;
    left: 21%;
    top: 60%;
    transform: translate(-50%, -50%); 
  }

  